#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}


.game-title {
  font-size: 2em;
  margin-bottom: 20px;
}


.board {
  display: inline-block;
  border: 2px solid #c3bcbc;
  border-radius: 10px;
}

.row {
  display: flex;
}


.cell {
  width: 60px; 
  height: 60px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  border: 1px solid #e0dada;
  cursor: pointer;
  transition: background-color 0.3s;
}


.cell:hover {
  background-color: #0f0b0b
}

h2 {
  margin-top: 20px;
  color: #4CAF50;
}

.reset-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: block;
  margin: 20px auto; 
}


.reset-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}


.reset-button:active {
  transform: scale(0.95);
}